<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="h1-text">Welcome to Shopping Site</h1>
    </header>
</body>
<main>
    <section>
        <article class="box center">
            <h2 class="h2-text">Admin</h2>
            <a href="/admins/register">
                <button class="btn">Sign Up</button>
            </a>
            <a href="/admins/login">
                <button class="btn">Sign In</button>
            </a>
        </article>
        <article class="box center">
            <h2 class="h2-text">User</h2>
            <a href="/users/register">
                <button class="btn">Sign Up</button>
            </a>
            <a href="/users/login">
                <button class="btn">Sign In</button>
            </a>
        </article>
    </section>
</main>
</html>